<div class="container mt-5" style="max-width: 1820px;">

  <div class="card shadow mb-4">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
         style="background: linear-gradient(90deg, #1a1a2e, #006d7a);color: white;">
      <strong>Add Client</strong>
      <button class="btn btn-light btn-sm" (click)="closeCard()">✖</button>
    </div>

    <div class="card-body">
      <form #clientForm="ngForm">

        <div class="row">
       
          <div class="col-md-4 mb-3">
            <label>Client Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="client.clientName" name="clientName"
              placeholder="Enter Client Name" #cN="ngModel" required minlength="3"
              [class.is-invalid]="cN.invalid && cN.touched">

            <div class="text-danger" *ngIf="cN.invalid && cN.touched">
              <small *ngIf="cN.errors?.['required']">Client Name is required</small>
              <small *ngIf="cN.errors?.['minlength']">Minimum 3 characters</small>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label>Bill To<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="client.billTo" name="billTo" #billTo="ngModel"
              placeholder="Enter billTo" required [class.is-invalid]="billTo.invalid && billTo.touched">

            <div class="text-danger" *ngIf="billTo.invalid && billTo.touched">
              <small>Bill To is required</small>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label>Phone<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="client.phone" name="phone" #phone="ngModel"
              placeholder="Enter Phone No" required pattern="^[0-9]{10}$" minlength="10" maxlength="10"
              (keypress)="onlyNumbers($event)" [class.is-invalid]="phone.invalid && phone.touched">
            <div class="text-danger" *ngIf="phone.invalid && phone.touched">
              <small *ngIf="phone.errors?.['required']">phone is required</small>
              <small *ngIf="phone.errors?.['pattern']">Enter valid 10-digit mobile</small>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label>Mobile</label>
            <input type="text" class="form-control" [(ngModel)]="client.mobile" name="mobile" placeholder="Enter mobile No"  #mobile="ngModel"
              pattern="^[0-9]{10}$" maxlength="10" (keypress)="onlyNumbers($event)">
            <div class="text-danger" *ngIf="mobile.invalid && mobile.touched">
              <small *ngIf="mobile.errors?.['required']">Mobile is required</small>
              <small *ngIf="mobile.errors?.['pattern']">Enter valid 10-digit mobile</small>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label>Email<span class="text-danger">*</span></label>
            <input type="email" class="form-control" [(ngModel)]="client.email" name="email" placeholder="Enter client email" #email="ngModel" required
              email [class.is-invalid]="email.invalid && email.touched">
            <div class="text-danger" *ngIf="email.invalid && email.touched">
              <small *ngIf="email.errors?.['required']">Email is required</small>
              <small *ngIf="email.errors?.['email']">Invalid email format</small>
            </div>
          </div>
          

            <div class="col-md-4 mb-3">
              <label>Company Name<span class="text-danger">*</span></label>
              <select class="form-control" [(ngModel)]="client.compId" name="compId" required #compId="ngModel"
                [class.is-invalid]="compId.invalid && compId.touched">
                <option value="" disabled >-- Select Company --</option>
                <option *ngFor="let c of companies" [value]="c.id">
                  {{ c.companyName }}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="compId.invalid && compId.touched">
                <small>Please select a company.</small>
              </div>
            </div>

          <div class="col-md-12 mb-3">
            <label>Address<span class="text-danger">*</span></label>
            <textarea class="form-control" [(ngModel)]="client.address" name="address" placeholder="Enter client address" 
              #address="ngModel" required minlength="5" [class.is-invalid]="address.invalid && address.touched">
            </textarea>
            <div class="text-danger" *ngIf="address.invalid && address.touched">
              <small *ngIf="address.errors?.['required']">Address is required</small>
              <small *ngIf="address.errors?.['minlength']">Minimum 5 characters</small>
            </div>
          </div>

        </div>

        <button class="btn btn-success me-2 my-1" (click)="addClient()" [disabled]="clientForm.invalid">
          {{ isEdit ? 'Update' : 'Save' }}
        </button>
        <button type="button" class="btn btn-secondary me-2 my-1" (click)="resetForm()">
          Reset
        </button>

        <button type="button" class="btn btn-danger my-1" (click)="closeCard()">
          Close
        </button>

      </form>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
         style="background: linear-gradient(90deg, #006d7a, #1a1a2e);color: white;">
         
      <strong>Client List</strong>
       <button class="btn btn-light btn-sm fw-semibold shadow-sm" style="color:#006d7a;" (click)="openForm()">
            + Add Client
          </button>
    </div>

    <div class="card-body table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead class="table-light">
          <tr>
            <th>Client Name</th>
            <th>Bill To</th>
            <th>Phone</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>CompId</th>
            <th>Address</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let c of clients">
            <td>{{c.clientName}}</td>
            <td>{{c.billTo}}</td>
            <td>{{c.phone}}</td>
            <td>{{c.mobile}}</td>
            <td>{{c.email}}</td>
            <td>{{c.compId}}</td>
            <td>{{c.address}}</td>
            <td>
              <button class="btn btn-warning btn-sm me-2 my-1" (click)="updateClient(c)">✏️Edit</button>
              <button class="btn btn-secondary btn-sm my-1 me-2 " (click)="openModal(c)">📄 Details</button>
              <button class="btn btn-danger btn-sm my-1" (click)="deleteClient(c.id)">❌Delete</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

<div class="modal fade show d-block" tabindex="-1" *ngIf="detailClient" style="background: rgba(0,0,0,0.5);">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
      <div class="modal-header"
           style="background: linear-gradient(90deg, #006d7a, #1a1a2e); color: white;">
        <h5 class="modal-title">Client Details</h5>
        <button type="button" class="btn-close btn-close-white" (click)="closeModal()"></button>
      </div>
      <div class="modal-body p-3">
        <table class="table table-borderless mb-0">
          <tbody>
            <tr>
              <th>Client Name</th>
              <td>{{ detailClient.clientName }}</td>
            </tr>
            <tr>
              <th>Bill To</th>
              <td>{{ detailClient.billTo }}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>{{ detailClient.phone }}</td>
            </tr>
            <tr>
              <th>Mobile</th>
              <td>{{ detailClient.mobile }}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{ detailClient.email }}</td>
            </tr>
            <tr>
              <th>CompId</th>
              <td>{{ detailClient.compId }}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{ detailClient.address }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>

</div>