<div class="container mt-4">

  <div class="card shadow mb-4">
    <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
         style="background: linear-gradient(90deg, #0f2027, #2c5364); color: white;">
      <span>Add Item</span>
      <button class="btn btn-light btn-sm" (click)="closeCard()">✖</button>
    </div>

    <div class="card-body">
      <form #itemForm="ngForm">

        <div class="row">

          <div class="col-md-3   mb-3">
            <label>Description<span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="item.description" name="description"
              placeholder="Enter description" required #desc="ngModel">
            <div class="text-danger" *ngIf="desc.invalid && desc.touched">
              Description is required
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label>Rate<span class="text-danger">*</span></label>
            <input type="number" class="form-control" [(ngModel)]="item.rate" name="rate" placeholder="Enter Rate"
              required min="1" #rate="ngModel">
            <div class="text-danger" *ngIf="rate.invalid && rate.touched">
              Enter valid rate
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label>Quantity<span class="text-danger">*</span></label>
            <input type="number" class="form-control" [(ngModel)]="item.quantity" name="quantity"
              placeholder="Enter quantity" required min="1" #qty="ngModel">
            <div class="text-danger" *ngIf="qty.invalid && qty.touched">
              Enter valid quantity
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label>Discount</label>
            <input type="number" class="form-control" [(ngModel)]="item.discount" name="discount"
              placeholder="Enter discount" min="0" #discount="ngModel">
          </div>

          <div class="col-md-3 mb-3">
            <label>Tax</label>
            <input type="number" class="form-control" placeholder="Enter tax" [(ngModel)]="item.tax" name="tax" min="0"
              #tax="ngModel">
          </div>

          <div class="col-md-3 mb-3">
            <label>Client ID<span class="text-danger">*</span></label>
            <input type="number" class="form-control" placeholder="Enter client id" [(ngModel)]="item.clientId"
              name="clientId" required #client="ngModel">
            <div class="text-danger" *ngIf="client.invalid && client.touched">
              Client ID required
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <label>Company Name<span class="text-danger">*</span></label>
            <select class="form-control" placeholder="select company" [(ngModel)]="item.compId" name="compId" required
              #compId="ngModel" [class.is-invalid]="compId.invalid && compId.touched">

              <option value="">-- Select Company --</option>
              <option *ngFor="let c of companies" [value]="c.id">
                {{ c.companyName }}
              </option>

            </select>
            <div class="invalid-feedback" *ngIf="compId.invalid && compId.touched">
              <small>Please select a company.</small>
            </div>
          </div>

          <div class="col-md-3 mb-3 ">
            <label>Amount</label>
            <input type="number" class="form-control" placeholder="Your Amount" [(ngModel)]="item.amount" name="amount"
              readonly>
          </div>

        </div>

        <button type="button" class="btn btn-success me-2" (click)="addItem()" [disabled]="itemForm.invalid">
          {{ isEdit ? 'Update' : 'Save' }}
        </button>

        <button type="button" class="btn btn-secondary me-2" (click)="resetForm()">
          Reset
        </button>

        <button type="button" class="btn btn-danger" (click)="closeCard()">
          Close
        </button>

      </form>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center"
      style="background: linear-gradient(90deg, #2c5364, #0f2027); color: white;">
      <strong>Item List</strong>
      <button class="btn btn-light btn-sm fw-semibold shadow-sm" style="color: #2c5364 " (click)="openForm()">
        + Add Item
      </button>
    </div>


    <div class="card-body table-responsive">
      <table class="table table-bordered table-hover text-center">
        <thead class="table-light ">
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Rate</th>
            <th>Qty</th>
            <th>Discount</th>
            <th>Tax</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let i of items; let idx = index">
            <td>{{ idx + 1}}</td>
            <td>{{i.description}}</td>
            <td>${{i.rate}}</td>
            <td>{{i.quantity}}</td>
            <td><span class="badge rounded-pill text-bg-light border text-dark">{{i.discount}}%</span></td>
            <td>{{i.tax}}%</td>
            <td>${{i.amount}}</td>
            <td class="text-center">
              <button class="btn btn-warning btn-sm me-2 my-1" (click)="updateItem(i)">✏️Edit</button>
              <button class="btn btn-secondary btn-sm me-2 my-1" (click)="detailItem(i.id)">📄 Details</button>
              <button class="btn btn-danger btn-sm me-1 my-1" (click)="deleteItem(i.id)">❌Delete</button>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

</div>